
.console {
  -fx-background-color: #000000;
  /*
  -fx-control-inner-background: #000000;
  -fx-highlight-fill: #000000;
  -fx-text-fill: #00ff00; */
  /* -fx-font-family: Consolas; font doesn't exist */
}

.console-input {
  -fx-background-color: #000000;
  -fx-text-fill: #00ff00;
  
  -fx-font-weight:bold;

  -fx-fill: #00ff00;
}

.console-text {
  -fx-fill: #FFFFFF;
  -fx-font-weight: bold;
}

.play {
}

.game-editor .tab-label { /* icon with -fx-graphic already has to have the right size */
  -fx-graphic: url("icons/game.png");
}

.graphic-editor .tab-label {
  -fx-graphic: url("icons/graphics.png");
}

.tile-editor .tab-label {
  -fx-graphic: url("icons/tiles.png");
}

.map-editor .tab-label {
  -fx-graphic: url("icons/maps.png");
}

.entity-editor .tab-label {
  -fx-graphic: url("icons/entities.png");
}

.sound-editor .tab-label {
  -fx-graphic: url("icons/sounds.png");
}

.script-editor .tab-label {
  -fx-graphic: url("icons/scripts.png");
}

.tab .tab-close-button {
}

.toggle-button {
  -fx-background-color: transparent;
  -fx-max-width: 30; /* 30px wide for extra title space */
  -fx-min-width: 30;
  -fx-max-height: 25; /* 25px high, bc that's the height of a TextField */
  -fx-min-height: 25;
}
